
body{
  background-color: antiquewhite;
  width: ;
}


.progressBar {
    width: 10%;
    height: 20px;
    background-color: rgb(223, 217, 217);
  }
 
#caracteristique{
    
    display: inline-block;
    bottom: 200px;
    
}
img{

    max-width: 400px;
    left: 250px;
    padding-right: 200px;
    top: 20px;
    position: absolute;
    
}

section{
  padding: 100px;
}